<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jx.dao.StaffDao">

    <select id="queryAllFile" resultType="staff">
        select * from staff;
    </select>

    <select id="queryFile" resultType="staff" parameterType="staff">
        select * from staff where working > 0
        <if test="staffId != null and staffId != ''">and staffID = #{staffId}</if>
        <if test="staffName != null and staffName != ''">and staffName = #{staffName}</if>
        <if test="staffSex != null and staffSex != ''">and staffSex = #{staffSex}</if>
        <if test="staffAge != null and staffAge != ''">and staffAge = #{staffAge}</if>
        <if test="staffEducation != null and staffEducation != ''">and staffEducation = #{staffEducation}</if>
        <if test="staffPosition != null and staffPosition != ''">and staffPosition = #{staffPosition}</if>
        <if test="staffTitle != null and staffTitle != ''">and staffTitle = #{staffTitle}</if>
        <if test="staffAddress != null and staffAddress != ''">and staffAddress = #{staffAddress}</if>
        <if test="staffTel != null and staffTel != ''">and staffTel = #{staffTel}</if>
        <if test="staffSalaryLevel != null and staffSalaryLevel != ''">and staffSalaryLevel = #{staffSalaryLevel}</if>
        <if test="staffDepartment != null and staffDepartment != ''">and staffDepartment = #{staffDepartment}</if>
    </select>

    <insert id="addFile" parameterType="staff">
        insert into staff
        (staffID,staffName,staffSex,staffAge,staffEducation,staffPosition,staffTitle,staffAddress,staffTel,staffSalaryLevel,staffDepartment,working)
        values
        (#{staffId},#{staffName},#{staffSex},#{staffAge},#{staffEducation},#{staffPosition},#{staffTitle},#{staffAddress},#{staffTel},#{staffSalaryLevel},#{staffDepartment},1);
    </insert>

    <update id="updateFile" parameterType="staff">
        update staff
        set staffName = #{staffName},
            staffSex = #{staffSex},
            staffAge = #{staffAge},
            staffEducation = #{staffEducation},
            staffPosition = #{staffPosition},
            staffTitle = #{staffTitle},
            staffAddress = #{staffAddress},
            staffTel = #{staffTel},
            staffSalaryLevel = #{staffSalaryLevel},
            staffDepartment = #{staffDepartment},
            working = #{working}
        where staffID = #{staffId};
    </update>

    <delete id="deleteFile" parameterType="String">
        delete from staff where staffID = #{staffId};
    </delete>

</mapper>